<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
index----view----index----lists
{$person['name']}

<ul>
    {volist name="skill" id="item"}
    <li>{$item}</li>
    {/volist}
</ul>
<ul>
    {volist name="student" id="item"}
    <li>{$item.name}&nbsp;&nbsp;{$item.age}&nbsp;&nbsp;{$item.sex}</li>

    {/volist}
</ul>

</body>
</html>